<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.moolre.sdk.MoolreCheckoutActivity"
            android:exported="false"
            android:theme="@style/Theme.Moolre.Checkout" />
    </application>
</manifest>
